@font-face {
  font-family: OpenSansBold;
  src: url('../fonts/OpenSans-Bold.ttf'),
    url('../fonts/OpenSans-Bold.woff'),
    url('../fonts/OpenSans-Bold.woff2');
}

@font-face {
  font-family: OpenSansRegular;
  src: url('../fonts/OpenSans-Regular.ttf'),
    url('../fonts/OpenSans-Regular.woff'),
    url('../fonts/OpenSans-Regular.woff2');
}

/* base classes */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body {
  font-family: OpenSansRegular, sans-serif;
  min-height: 320px;
  width: 100%;
  
  font-size: 10px;
}

h1, h2 {
  font-family: OpenSansBold, sans-serif;
  text-transform: uppercase;
}

h1 {
  color: #e7e7e7;
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  color: #c1c1c1;
  font-size: 2.8rem;
  line-height: 2.8rem;
}

html { background-image: url('../images/template/surface_320.jpg'); }
body { opacity: 0.9; }

/* common block */

.block {
  width: 100%;
  max-width: 320px;
}

.block__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

/* header */

.block-header {
  color: white;
  height: 568px;
  background-image: url('../images/football_s.png');
}

.block-header .block__content {
  align-items: center;  
}

.block-header__logo {
  padding: 13px;
}

.block-header__text {
  margin-top: 120px;
  margin-bottom: 65px;
}

.block-header__text h2 {
  margin-bottom: 25px;
}

.block-header__text h2:nth-child(2){
  margin-left: 45px;
}

/* store buttons */

.store-button {
  background-color: #5e42b0;
  border-radius: calc(35px / 2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-bottom: 15px;
  width: 100%;
}

.store-button__inner-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 120px;
}

.store-button-text {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.store-button__icon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 30px;
  margin-right: 10px;
  width: 23px;
}

.store-button__icon--apple {
  background-image: url('../images/svg/apple_logo_black.svg');
}

.store-button__icon--google {
  background-image: url('../images/svg/google-play.svg');
}

/* rows */

.row {
  padding: 50px 20px;
}

.row p {
  font-family: OpenSansRegular, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.row__title-line {
  display: flex;
  margin-bottom: 25px;
}

.row__pretitle {
  color: black;
  display: inline-flex;
  flex-basis: 25px;
  font-family: OpenSansBold, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.row__title {
  display: inline-flex;
  line-height: 2rem;
}

.row__title-image {
  position: absolute;
  z-index: 10;
}

.thesis-block .block__title {
  flex-basis: 265px;
}

.thesis-block .row:nth-child(1) {
  background-color: #fafafa;
  padding-top: 80px;
}

.thesis-block .row:nth-child(2) {
  background-color: #f5f4f9;
}

.thesis-block .row:nth-child(3) {
  background-color: #5e42b0;
  padding-bottom: 30px;
  color: white;
}

/* athletes */

/* players */

.block-players .row:nth-child(3) {
  padding-bottom: 55px;
}

/* cards */

.block-cards {}

.block-cards__title {
  line-height: 1.4rem;
  margin-bottom: 25px;
}

.block-cards__title-counter-block {
  background-color: #5e42b0;
  bottom: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  left: 20px;
  position: absolute;
  width: 70px;
}

.block-cards__title-counter-block--number {
  color: white;
  font-family: OpenSansBold, sans-serif;
  font-size: 1.4rem;
}

.block-cards__title-counter-block--underline {
  background-color: #8f7bc8;
  border-radius: 2px;
  height: 4px;
  width: 17px;
}

.block-cards .block__content {
  padding: 35px 20px 75px;
}

.block-cards__text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 2rem;
}

.block-cards__card-title-image {
  height: 351px;
}

/* mobile screens */

@media screen and (max-width: 320px) {
}

.block-athletes .row__title-image {
  left: 45px;
}

.block-players .row__title-image {
  left: -20px;
  top: 60px;
}